<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Título de página -->
        <title>Inicio</title>
        <meta title="Parcial 1er corte">
        <!-- Codificación de caracteres > Caracteres especiales en Español -->
        <meta charset="utf-8">
        
        <!-- Cargar ícono de favoritos -->
        <link rel="icon" href="{{ url_for('static', filename='img/libro.png')}}">

        <!-- Meta para bloquear el Zoom Out -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Enlace a librería desde CDN: PrefixFree -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

        <!-- Enlace a librería de íconos: FontAwesome Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <!-- Enlace a librería de fuentes tipográficas: Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&family=Kufam:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Cargar CSS propio -->
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    </head>

    <body>
        <!-- Componente Menú Hamburguesa -->
        <aside id="menu-hamburguesa">
            <a href="#" id="abrir">
                <i class="fas fa-bars"></i>
            </a>

            <a href="#" id="cerrar">
                <i class="fas fa-times"></i>
            </a>
            
            <nav>
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('servicios') }}">Servicios</a>
                <a href="#ancla-beverages">Pagos</a>
                <a href="#formulario-contactenos">Contactenos</a>
                <a href=".formulario-feedback">Comentarios</a>
            </nav>
        </aside>

        <!-- Componente Botón WhatsApp -->
        <aside id="boton-whatsapp">
            <a href="https://api.whatsapp.com/send?phone=573016954853" target="_blank">
                <i id="boton-whatsapp-i" class="fab fa-whatsapp"></i>
            </a>
        </aside>

        <!-- Componente Header Logo y Menú -->
        <header>
            <article>
                <figure>
                    <a href="index.html">
                        <img src="{{ url_for('static', filename='img/logo.png')}}">
                    </a>
                </figure>

                <nav>
                    <a href="{{ url_for('index') }}">Inicio</a>
                    <a href="{{ url_for('servicios') }}">Servicios</a>
                    <a href="#ancla-beverages">Pagos</a>
                    <a href="#formulario-contactenos">Contactenos</a>
                    <a href=".formulario-feedback">Comentarios</a>
                </nav>
            </article>
        </header>

        <!-- Caja Main -->
        <main>

            <!-- Formulario de Contactenos -->
            <section id="formulario-contactenos">
                <article>
                      <h3>Contactenos</h3>
                      <form id="formu-cont" action="https://formsubmit.co/icsgamesxd@gmail.com" method="POST">
                         <input type="" id="nombre" name="Nombre" placeholder="Nombre Completo">
                         <input type="email" id="correo" name="Email" placeholder="Correo Electronico">
                         <input type="tel" id="telefono" name="Telefono" placeholder="Teléfono">
                          <select id="asunto" name="Servicio">
                             <option>Servicio</option>
                             <option value="mas-info">Prescolar</option>
                             <option value="ser-distribuidor">Primaria</option>
                             <option value="pagos-otra-ciudad">Secundaria</option>
                             <option value="cotizacion">Universidad</option>
                          </select>
                         <textarea rows="3" id="mensaje" name="descripcion" placeholder="Descripción"></textarea>
                         <center><input type="submit" id="enviar" value="ENVIAR"></center>
                         <input type="hidden" name="_next" value="http://localhost:5000">
                         <input type="hidden" name="_captcha" value="false">
                      </form>
                </article>
            </section>

   <!-- Componente Sección tipo Menú a 2 Columnas -->
   
           <!--  Componente seccion tipo 3 columnas -->
            <section id="combos">
                <div id="ancla-combos"></div>
                <article>
                    <nav>
                        <a href="#combos" target="">
                            <img src="{{ url_for('static', filename='img/secundaria.jpg')}}">
                        </a>

                        <a href="#combos" target="">
                            <img src="{{ url_for('static', filename='img/Universidad.jpg')}}">
                        </a>

                        <a href="#combos" target="">
                            <img src="{{ url_for('static', filename='img/primaria.jpg')}}">
                        </a>
                    </nav>
                </article>
            </section>

            <!-- Componente Sección tipo menu a 2 Columnas -->
            <section id="beverages" class="menu">
                <div id="ancla-beverages"></div>
                <article>
                    <div class="zona-titulos">
                        <h3>Métodos Pagos</h3>
                    </div>

                    <div class="zona-menu">
                        <figure>
                            <img src="{{ url_for('static', filename='img/Nequi.png')}}">
                            <div class="info-producto">
                                <h5 class="reco">Pagos</h5>
                                <h4>Nequi</h4>
                            </div>
                        </figure>

                        <figure>
                            <img src="{{ url_for('static', filename='img/davivienda.jpg')}}">
                            <div class="info-producto">
                                <h5 class="reco">Pagos</h5>
                                <h4>Davivienda</h4>
                            </div>
                        </figure>

                        <figure>
                            <img src="{{ url_for('static', filename='img/daviplata.png')}}">
                            <div class="info-producto">
                                <h5 class="reco">Pagos</h5>
                                <h4>Daviplata</h4>
                            </div>
                        </figure>

                        <figure>
                            <img src="{{ url_for('static', filename='img/efecty.png')}}">
                            <div class="info-producto">
                                <h5 class="reco">Pagos</h5>
                                <h4>Efecty</h4>
                            </div>
                        </figure>
                    </div>
                </article>
            </section>

            <!-- Componente Destacados 3 Columnas -->
            <center>
                <div class="container">
                  <table>
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Carrera</th>
                        <th>Comentarios</th>
                        <th>Puntuación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        {% for date in date %}
                        <td> {{ date.1 }} {{ date.2 }} </td>
                        <td>{{ date.4 }}</td>
                        <td>{{ date.5 }}</td>
                        <td>
                          <div class="feedback-rating">
                            {% if date.3 == '5' %}
                            <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
                            {% elif date.3 == '4' %}
                            <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">☆</span>
                            {% elif date.3 == '3' %}
                            <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">☆</span><span class="star">☆</span>
                            {% elif date.3 == '2' %}
                            <span class="star">★</span><span class="star">★</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span>
                            {% elif date.3 == '1' %}
                            <span class="star">★</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span>
                            {% else %}
                                <td>Sin puntuación</td>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
            
                        {% endfor %}
                    </tbody>
                </div>
                  </table>
                 </center>
                </div>
            </div>
            
            
                <br><br><br><br>
                
                <section id="formulario-contactenos" class="formulario-feedback">
                    <article>
                          <h3>Comentarios</h3>
                          <form id="formu-cont" action="/guardar" method="POST">
                             <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                             <input type="text" id="apellido" name="apellido" placeholder="Apellido">
                             <input type="text" id="carrera" name="carrera" placeholder="Carrera">
                             <input type="text" id="comentario" name="comentario" placeholder="Comentarios">
                                      
                            <label for="puntuacion"></label>
                      <center>
                        <div class="rating">
                          <input type="radio" id="star5" name="puntuacion" value="5" />
                          <label for="star5">☆</label>
                          <input type="radio" id="star4" name="puntuacion" value="4" />
                          <label for="star4">☆</label>
                          <input type="radio" id="star3" name="puntuacion" value="3" />
                          <label for="star3">☆</label>
                          <input type="radio" id="star2" name="puntuacion" value="2" />
                          <label for="star2">☆</label>
                          <input type="radio" id="star1" name="puntuacion" value="1" />
                          <label for="star1">☆</label>
                        </div>
                      </center>
                      <input type="submit" value="Guardar" />
                          </form>
                    </article>
                </section>

        </main>

        <!-- Componente Footer Logo al Centro -->
        <footer>
            <figure>
                <a href="index.html">
                    <img src="">
                </a>

                <h6>Developed by SoftDevCode S.A.S</h6>
            </figure>
        </footer>

        <!-- Zona de JavaScript -->

        <!-- 1°: LLamado a jQuery desde un CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!-- 2°: Llamado a librerías hijo de jQuery -->
        <!-- jQuery Easing desde CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!-- Cargar JS propio -->
        <script src="../static/js/script.js"></script>
    </body>
</html>