<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta charset="UTF-8">
    <title>Mis taresas</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <h1>Mis Tareas</h1>
    {% if msg %}
    <p style="text-align: center; color: black;">
        {{ msg }}
    </p>
    {% endif %}
    
    <form action="/guardar" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required />

      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido" name="apellido" />

      <label for="carrera">Carrera:</label>
      <input type="text" id="carrera" name="carrera" />
      
      <label for="carrera">Comentarios:</label>
      <input type="text" id="comentario" name="comentario" />

     

      <label for="puntuacion">Puntuación:</label>
      <center>
        <div class="rating">
          <input type="radio" id="star5" name="puntuacion" value="5" />
          <label for="star5">☆</label>
          <input type="radio" id="star4" name="puntuacion" value="4" />
          <label for="star4">☆</label>
          <input type="radio" id="star3" name="puntuacion" value="3" />
          <label for="star3">☆</label>
          <input type="radio" id="star2" name="puntuacion" value="2" />
          <label for="star2">☆</label>
          <input type="radio" id="star1" name="puntuacion" value="1" />
          <label for="star1">☆</label>
        </div>
      </center>
      <input type="submit" value="Guardar" />
    </form>
    <br>
    <br>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Comentarios</th>
            <th>Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for date in date %}
            <td> {{ date.1 }} {{ date.2 }} </td>
            <td>{{ date.4 }}</td>
            <td>{{ date.5 }}</td>
            <td>
              <div class="feedback-rating">
                {% if date.3 == '5' %}
                <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
                {% elif date.3 == '4' %}
                <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">☆</span>
                {% elif date.3 == '3' %}
                <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">☆</span><span class="star">☆</span>
                {% elif date.3 == '2' %}
                <span class="star">★</span><span class="star">★</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span>
                {% elif date.3 == '1' %}
                <span class="star">★</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span><span class="star">☆</span>
                {% else %}
                    <td>Sin puntuación</td>
                {% endif %}
              </div>
            </td>
          </tr>

            {% endfor %}
        </tbody>
        
      </table>
    </div>

    <div class="container-services">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda in veniam asperiores maxime optio doloremque repellat eius possimus aliquid obcaecati!</p>
    </div>
    <script>
       window.addEventListener('contextmenu', function (e) {
            e.preventDefault(); // Evita que aparezca el menú contextual
            showCustomMessage(); // Muestra el mensaje personalizado
        });

        function showCustomMessage() {
            var customMessage = document.createElement('div');
            customMessage.className = 'custom-message';
            customMessage.textContent = 'La función, está deshabilitado en esta página.';
            document.body.appendChild(customMessage);

            setTimeout(function () {
                customMessage.parentNode.removeChild(customMessage);
            }, 3000); // Oculta el mensaje después de 3 segundos
        }
  </script>
  </body>
</html>
